@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

.hero {
  padding: 93px 20px 184px ;

  div {
    .hero-title {
      width: 100%;
      color: #2c2c2c;
      font-size: 132px;
      font-weight: 700;
      line-height: 130px;
      margin-bottom: 40px;
    }

    .hero-subtitle {
      width: 783px;
      color: #4c4c4c;
      font-size: 26px;
      text-align: justify;
    }
  }

  .hero-illustrations {
    display: flex;
    justify-content: end;

    svg {
      max-width: 44vmin;

      &:hover .textcircle {
        transform: scale(1.2) rotate(90deg);
      }
    }

    .textcircle {
      transition: transform 1s cubic-bezier(0.65, 0, 0.35, 1);
      transform-origin: 250px 250px;
    }

    text {
      font-size: 22px;
      font-family: Roboto;
      font-weight: 500;
      text-transform: uppercase;
      font-variant-ligatures: none;
      fill: #4356ff;
      letter-spacing: 6px;
      animation: rotate 25s linear infinite;
      transform-origin: 250px 250px;
    }

    .icon-container {
      display: flex;
      justify-content: center;
      align-items: center;
      .icon-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%; /* Adjust the size as needed */
      }
    }
  }
}

@media (843px <= width <=1239px) {
  .hero {
    .hero-illustrations {
      right: -30px;
    }
  }
}

@media (575px <= width <= 842px) {
  .hero {
    div {
      .hero-title {
        font-size: 90px;
        line-height: 85px;
        margin-bottom: 25px;
      }

      .hero-subtitle {
        font-size: 22px;
        width: 100%;
        text-align: justify;
      }
    }
  }
}

@media (width <= 574px) {
  .hero {
    div {
      .hero-title {
        line-height: 45px;
        font-size: 45px;
        width: 100%;
        margin-bottom: 20px;
      }

      .hero-subtitle {
        font-size: 18px;
        width: 100%;
        text-align: justify;
      }
    }
  }
}
