.skills {
  padding:80px 20px 55px ;
  background-color: #2c2c2c;
  height: 100vh;
  .skills-header {
    margin-bottom: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 35px;
    max-width: 1240px;
    margin-inline: auto;

    h2 {
      margin: 0;
      font-size: 40px;
      color: #fff;
    }

    .line {
      height: 2px;
      width: 100%;
      background: #fff;
    }
  }

  .skills_block {
    height: 90%;
    display: flex;
    align-items: center;

    .block {
      max-width: 1240px;
      margin-inline: auto;
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;

      .card {
        position: relative;
        width: 220px;
        height: 250px;
        margin: 5px;
        // background-color: #4e4e58;
        display: flex;
        justify-content: center;
        align-items: center;

        .percent {
          position: relative;
          width: 150px;
          height: 150px;

          svg {
            position: relative;
            width: 150px;
            height: 150px;
            transform: rotate(270deg);

            circle {
              width: 100%;
              height: 100%;
              fill: transparent;
              stroke-width: 2;
              stroke: #191919;
              transform: translate(5px, 5px);

              &:nth-child(2) {
                stroke: var(--clr);
                stroke-dasharray: 440;
                stroke-dashoffset: calc(440 - (440 * var(--num)) / 100);
                opacity: 0;
                animation: fadeIn 1s linear forwards;
                animation-delay: 2.5s;
              }
            }

            @keyframes fadeIn {
              0% {
                opacity: 0;
              }
              100% {
                opacity: 1;
              }
            }
          }
        }

        .dot {
          position: absolute;
          z-index: 10;
          inset: 5px;
          transform: rotate(calc(3.6deg * var(--num)));
          animation: animateDot 2s linear forwards;

          &::before {
            content: "";
            position: absolute;
            top: -5px;
            left: 50%;
            transform: translateX(-50%);
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: var(--clr);

            box-shadow: 0 0 10px var(--clr), 0 0 30px var(--clr);
          }
        }

        @keyframes animateDot {
          0% {
            transform: rotate(0deg);
          }
          100% {
            transform: rotate(calc(3.6deg * var(--num)));
          }
        }

        .number {
          position: absolute;
          inset: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          opacity: 0;
          animation: fadeIn 1s linear forwards;
          animation-delay: 2.5s;

          h2 {
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            font-weight: 700;
            font-size: 2.5em;

            span {
              font-weight: 300;
              color: #fff;
              font-size: 0.5em;
            }
          }

          p {
            font-weight: 300;
            font-size: 0.75em;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: rgba(225, 225, 225, 0.5);
          }
        }
      }
    }
  }
}

@media (843px <= width <=1239px) {
}

@media (575px <= width <= 842px) {
  .skills {
    height: auto;
    .skills-header {
      margin-bottom: 60px;
      h2 {
        font-size: 34px;
      }
    }

    .skills_block {
    }
  }
}

@media (width <= 574px) {
  .skills {
    height: auto;
    .skills-header {
      margin-bottom: 60px;
      h2 {
        font-size: 20px;
      }
    }
  }
}
