@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

@keyframes caret-flash {
  50% {
    opacity: 0;
  }
}

.about {
  padding: 0 20px;
  height: 600px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
  margin-bottom: 135px;

  .about_content {
    .title {
      font-family: "VT323", monospace;
      color: #4356ff;
      font-size: 36px;
      margin: 0;
    }

    .delimitation {
      margin: 20px 0;
      width: 50px;
      height: 2px;
      background: #2c2c2c;
    }

    .text {
      text-align: justify;
      line-height: 24px;
      color: #4c4c4c;
      font-size: 18px;
    }
  }

  .about_pic {
    height: 100%;
    object-fit: cover;
  }
}

@media screen and (min-width: 843px) and (max-width: 1239px) {
  .about {
    margin: 60px 0px;
    flex-direction: column;
    height: auto;
    gap: 60px;
    .about_content {
      .title {
        font-size: 30px;
      }
    }

    .about_pic {
      width: 50%;
    }
  }
}

@media screen and (min-width: 575px) and (max-width: 842px) {
  .about {
    margin: 60px 0px;
    flex-direction: column;
    height: auto;
    gap: 60px;

    .about_pic {
      width: 100%;
    }
  }
}

@media screen and (max-width: 574px) {
  .about {
    margin: 60px 0px;
    flex-direction: column;
    height: auto;
    gap: 60px;

    .about_content {
      .title {
        font-size: 20px;
      }
    }
    .about_pic {
      width: 100%;
    }
  }
}
