@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

@keyframes caret-flash {
  50% {
    opacity: 0;
  }
}

.about {
  padding:80px 20px 55px ;
  max-width: 1240px;
  margin-inline: auto;

  .about-header {
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 35px;

    h2 {
      margin: 0;
      font-size: 40px;
      color: #2c2c2c;
    }

    .line {
      height: 2px;
      width: 100%;
      background: #2c2c2c;
    }
  }

  .about-block {
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 100px;

    .about_content {
      .title {
        font-family: "VT323", monospace;
        color: #4356ff;
        font-size: 42px;
        margin: 0;
      }

      .delimitation {
        margin: 20px 0;
        width: 50px;
        height: 2px;
        background: #2c2c2c;
      }

      .text {
        text-align: justify;
        line-height: 24px;
        color: #4c4c4c;
        font-size: 18px;
      }
    }

    .about_pic {
      height: 100%;
      object-fit: cover;
    }
  }
}

@media (843px <= width <=1239px) {
  .about {
    margin: 60px 0px;

    .about-block {
      flex-direction: column;
      height: auto;
      gap: 60px;
      .about_content {
        .title {
          font-size: 30px;
        }
      }

      .about_pic {
        width: 50%;
      }
    }
  }
}

@media (575px <= width <= 842px) {
  .about {
    margin: 60px 0px;
    .about-header {
      margin-bottom: 60px;
      h2 {
        font-size: 34px;
      }
    }
    .about-block {
      flex-direction: column;
      height: auto;
      gap: 60px;
      .about_pic {
        width: 100%;
      }
    }
  }
}

@media (width <= 574px) {
  .about {
    margin: 60px 0px;

    .about-header {
      margin-bottom: 60px;
      h2 {
        font-size: 20px;
      }
    }

    .about-block {
      flex-direction: column;
      height: auto;
      gap: 60px;
      .about_content {
        .title {
          font-size: 20px;
        }
      }
      .about_pic {
        width: 100%;
      }
    }
  }
}
