@import url("https://fonts.googleapis.com/css2?family=Neucha&family=VT323&display=swap");

.home {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  // flex-wrap: nowrap;
  position: relative;
  // margin-top: 75px;
  align-items: center;
  border-bottom: 6px dotted #fdb2b7;

  .photo_block {
    display: flex;
    justify-content: center;
    position: relative;
    width: 50%;
    margin-bottom: 5%;

    img {
      width: 70%;
      // height: 30%;
      // padding-top: 22vh;
      // padding-bottom: 20vh;
    }
  }

  .info {
    width: 50%;
    display: flex;
    flex-direction: column;

    .animated_span {
      font-size: 120px;
      font-family: "VT323", monospace;
      position: absolute;
      left: 34%;
      top: 10%;
      // width: 30%;
      height: 40%;
      color: #d94f5c;
    }
    // justify-content: flex-end;
    margin-bottom: 7%;

    div {
      border-left: 4px solid #818286;
      padding: 0 20px;
      margin-top: 25%;

      p {
        color: #777;
        padding-bottom: 30px;
        span {
          color: #fdb2b7;
          font-size: 18px;
        }
      }

      button {
        border: none;
        text-align: center;
        overflow-wrap: break-word;
        display: inline-block;
        border-radius: 8px;
        width: 70%;
        padding: 15px 20px;
        background-color: #fdb2b7;
        color: #323239;
        font-size: 18px;
        font-weight: 600;
        cursor: pointer;
        transition-duration: 0.4s;

        &:hover {
          background-color: #5c5c65;
          color: #dcd5d5;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .home .info .animated_span {
    font-size: 90px;
    font-family: "VT323", monospace;
    position: absolute;
    left: 10%;
    top: 5%;
    height: 20%;
    color: #d94f5c;
  }
}

@media (max-width: 576px) {
  .home {

    .info {
        width: 90%;
        
        div{
            margin-left: 20px;
        }

        .animated_span {
            font-size: 60px;
            font-family: "VT323", monospace;
            position: absolute;
            left: 4%;
            top: 15%;
            height: 20%;
            color: #d94f5c;
          }
    }
    .photo_block {
      display: none;
    }
  }
}
