@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes line {
  0% {
    background-position-x: 390px;
  }
}

.navbar {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;

  a img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .menu_burger {
    display: none;
  }

  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;

    li {
      list-style: none;
      position: relative;
      text-align: center;

      a {
        text-transform: uppercase;
        font-size: 14px;
        position: relative;
        text-decoration: none;
        color: #4c4c4c;
        transition: all 0.45s;
      }

      &::after {
        content: "";
        position: absolute;
        top: 30px;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: #4356ff;
        transition: width 0.3s ease;
      }

      &:hover::after {
        width: 100%;
      }
    }
  }
}

@media (843px <= width <=1239px) {
  .navbar {
    padding: 0 20px;
  }
}

@media (575px <= width <= 842px) {
  .navbar {
    padding: 0 20px;
    overflow: hidden;
  }
}

@media (width <= 574px) {
  .navbar {
    height: 60px;
    padding: 0 20px;
    overflow: hidden;

    .menu {
      display: none;
    }

    .menu_burger {
      display: block;
      .burger_button {
        position: absolute;
        background: transparent;
        color: #2c2c2c;
        top: 20px;
        right: 30px;
        border: none;
        outline: none;
        font-size: 20px;
        z-index: 10;
      }

      .burger_list {
        z-index: 5;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: #fff;
        height: 100vh;
        width: 100%;
        text-align: center;
        padding: 2rem;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        min-height: 100vh;
        box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
        will-change: transform, opacity;
        animation: slide-in 1s ease;
      }
    }
  }
}
