@import url("https://fonts.googleapis.com/css?family=Varela+Round");
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  letter-spacing: 1.1px;
}

body,
html {
  max-width: 1240px;
  margin: 0 auto;
  font-family: "Varela Round", sans-serif;

  ///////////////////Contact//////////
  .contact-page {
    margin: 100px 0 135px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 150px;

    .contact-header {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      height: 80px;
      .contact-title {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        h1 {
          font-size: 118px;
          width: 55%;
        }

        .contact-line {
          height: 2px;
          width: 45%;
          background-color: #2c2c2c;
        }
      }

      .contact-subtitle {
        font-size: 20px;
        color: #4c4c4c;
      }
    }
  }



  ///////////////SKILLS/////////
  .skills-page{

    margin: 100px 0 135px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 150px;

    .skills-header {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 80px;

        h1 {
          font-size: 118px;
          width: 55%;
        }

        .skills-line {
          height: 2px;
          width: 45%;
          background-color: #2c2c2c;
        }
      }
  }
}

@media (843px <= width <=1239px) {
  body,
  html {
    .contact-page {
      padding: 0 20px;
      margin-top: 60px;
      gap: 66px;

      .contact-header {
        height: 110px;
        padding: 0;

        .contact-title {
          gap: 10px;

          h1 {
            font-size: 60px;
            width: 70%;
          }

          .contact-line {
            height: 2px;
            width: 80%;
            background: #2c2c2c;
          }
        }

        .contact-subtitle{
          font-size: 18px;
          width: 80%;
        }
      }
    }
    .skills-page{

      padding: 0 20px;
      margin-top: 60px;
      gap: 66px;

  
      .skills-header {
        height: 110px;
        padding: 0;
  
          h1 {
            font-size: 60px;
            width: 70%;
          }
  
          .skills-line {
            height: 2px;
            width: 80%;
            background: #2c2c2c;
          }
        }
    }
  }
}

@media (575px <= width <= 842px) {
  body,
  html {
    .contact-page {
      padding: 0 20px;
      margin-top: 60px;
      gap: 66px;

      .contact-header {
        height: 110px;
        padding: 0;

        .contact-title {
          gap: 10px;

          h1 {
            font-size: 50px;
            width: 80%;
          }

          .contact-line {
            height: 2px;
            width: 60%;
            background: #2c2c2c;
          }
        }
        .contact-subtitle{
          font-size: 18px;
          width: 80%;
        }
      }
    }

    .skills-page{

      padding: 0 20px;
      margin-top: 60px;
      gap: 66px;

  
      .skills-header {
        height: 110px;
        padding: 0;
  
          h1 {
            font-size: 50px;
            width: 80%;
          }
  
          .skills-line {
            height: 2px;
            width: 60%;
            background: #2c2c2c;
          }
        }
    }
  }
}

@media (width <= 574px) {
  body,
  html {
    .contact-page {
      padding: 0 20px;
      margin-top: 60px;
      gap: 66px;

      .contact-header {
        height: 60px;
        padding: 0;

        .contact-title {
          gap: 10px;

          h1 {
            font-size: 28px;
            width: 80%;
          }

          .contact-line {
            height: 2px;
            width: 60%;
            background: #2c2c2c;
          }
        }
        .contact-subtitle{
          font-size: 14px;
          width: 226px;
        }
      }
    }

    .skills-page{

      padding: 0 20px;
      margin-top: 60px;
      gap: 66px;

  
      .skills-header {
        height: 60px;
        padding: 0;
  
          h1 {
            font-size: 28px;
            width: 80%;
          }
  
          .skills-line {
            height: 2px;
            width: 60%;
            background: #2c2c2c;
          }
        }
    }
  }
}
